<footer class="py-4 text-center text-sm">
  © {{ now.Year }} unbelong

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const archiveSection = document.querySelector("aside");
      if (!archiveSection) return;

      const details = archiveSection.querySelectorAll("details");
      if (details.length > 0) {
        details[0].setAttribute("open", "true");

        const subDetails = details[0].querySelectorAll("details");
        if (subDetails.length > 0) {
          subDetails[0].setAttribute("open", "true");
        }
      }
    });
  </script>
</footer>
