<aside class="space-y-8 text-sm pt-2 pl-2">
 <img src="{{ "images/profile/portrait_squ_risize50.jpg" | relURL }}" />
  <div class="text-gray-500">
中山正之<br>
Masayuki Nakayama<br>
1986年　神奈川県出身<br>
薬剤師<br>
webデザイナー<br>
イラストレーター<br>
belong2jazz@gmail.com<br>
youtube<br>
<a href="https://www.flickr.com/photos/97004616@N04/" class="text-blue-600 hover:underline" target="_blank" rel="noopener noreferrer">portfolio flicker</a>
</div>

  {{ partial "sidebar/search.html" . }}
  {{ partial "sidebar/archive.html" . }}
  {{ partial "sidebar/tags.html" . }}
</aside>
